/*body {
	font-family: monospace;
}*/
div.daily {
}
div.halfdayblock h2 {
	margin-bottom: 0;
}
div.daily div.halfdayblock div {
	margin-left: 2em;
	max-width: 50em;
}
td.n,th.n {
	text-align: right;
}
td.n span.ampm {
	font-variant: small-caps;
}
td.n span {
	font-size:80%;
	color: grey;
	padding-left: 0.2em;
}
table.hourly, table.hourly td {
	font-variant-numeric: tabular-nums;
}
table.hourly {
	border-collapse: collapse;
}
table.hourly tr td {
	padding-right: 0.5em;
}
table.hourly tr.even.day {
	background-color: #EEE;
}
table.hourly tr.odd.day {
	background-color: #FFF;
}
table.hourly tr.even.night {
	background-color: #DBE;
}
table.hourly tr.odd.night {
	background-color: #ECF;
}

@media (min-width: 65ch) {
	div.daily {
		margin: auto;
		display: grid;
		grid-template-columns: minmax(25ch, 60ch) 40ch;
		max-width: 100ch;
	}
	div.daily div.hourly {
		width: 40ch;
	}
	div.daily h2 {
		margin: 0;
	}
}


